<h1>Quarantine Snacks</h1>

<div id="snacks-container">
 
  <% @snack.each do |snack| %>
    <div id="snack-container">
      <div id="home-snack">
        <h4><%= snack.name %></h4>
        <p><%= snack.price %></p>
      </div>
      <div id="snack-buttons">
        <%= button_to "+", line_items_path(:snack_id => snack.id) %>
        <%= button_to "+", line_items_path(:snack_id => snack.id) %>
      </div>
    </div>
  <% end %>

</div>

